/* custom styles here, yo */
.name img {
	margin: 9px 13px 0px 34px;
}

.editsection {
	float: right;
	font-size: 0.5em;
	color: #CCC;
	opacity: 0.3;
}

.editsection:hover {
	opacity: 1.0;
}

#bottomtools li, #bottomlogin li, #bottomwiki li {
  display: inline;
}

h4 {
	font-size: 1.2rem;
	text-transform: uppercase;
}

.side p {
	font-size: .85em;
	line-height: 1.7;
}

/* hack for side bar event truncation */
.p-description {
  display: none;
}

footer {
	background-color: #f2f2f2;
	padding-top: 30px;
	margin-top: 30px;
}

footer ul.sponsor-logos li{
	display: inline;
	padding: 20px;
}

footer ul.sponsor-logos {
	margin-top: 30px;
}

footer ul {
	list-style: none;
	text-align: center;
}

#bottomwiki, #bottomtools, #bottomlogin {
	text-align: center;
	color: #ccc;
}

#bottomwiki ul, #bottomtools ul, #bottomlogin ul {
	margin-bottom: 3px;
}

#bottomwiki a, #bottomtools a, #bottomlogin a {
	color: #aaa;
}

input[type="text"] {
	height: 2.0rem;
}

.top-bar {
	margin-bottom: 20px;
}