/* custom styles here, yo */

ul {
	margin: .3em 0 0 3.5em;
	list-style-image: url(arrow.png);
}

li {
	margin-left: .5em;
	margin-bottom: .1em;
	padding: 0;
}

.name img {
	margin: 9px 13px 0px 34px;
}

.editsection {
	float: right;
	font-size: 0.5em;
	color: #CCC;
	opacity: 0.3;
}

.editsection:hover {
	opacity: 1.0;
}

#bottomtools li, #bottomlogin li, #bottomwiki li {
  display: inline;
}

h4 {
	font-size: 1.2rem;
	text-transform: uppercase;
}

.main-body a {
	border-bottom: 3px solid #fedca6;
	color: #222;
}

.main-body a:hover {
	color: #f16124;
}

.side p {
	font-size: .85em;
	line-height: 1.7;
}

/* hack for side bar event truncation */
.upcoming-events .p-description, .upcoming-events .u-url {
  display: none;
}

.upcoming-events ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.upcoming-events li {
	margin-bottom: 10px;
}

footer {
	background-color: #f2f2f2;
	padding-top: 30px;
	margin-top: 30px;
}

footer ul.sponsor-logos li{
	display: inline;
	padding: 20px;
}

footer ul.sponsor-logos {
	margin-top: 30px;
}

footer ul {
	list-style: none;
	text-align: center;
}

#bottomwiki, #bottomtools, #bottomlogin {
	text-align: center;
	color: #ccc;
}

#bottomwiki ul, #bottomtools ul, #bottomlogin ul {
	margin-bottom: 3px;
}

#bottomwiki a, #bottomtools a, #bottomlogin a {
	color: #aaa;
}

input[type="text"] {
	height: 2.0rem;
}

.top-bar {
	margin-bottom: 20px;
}

.mw-usertoollinks, .mw-plusminus-pos {
	display: none;
}

ul.preftoc {
	clear: both;
}
.preftoc li {
	float: left;
	background-color: #eee;
	padding: 3px;
}

